{% load static %}
<style>
    .underline-on-hover {
        position: relative;
        display: inline-block;
    }

    .underline-on-hover:before {
        content: "";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 0;
        height: 2px;
        background-color: darkcyan;
        transition: width 0.5s ease;
    }

    .underline-on-hover:hover:before {
        width: 100%;
    }
</style>

<div class="bg-slate-800">
    <nav class="flex flex-wrap justify-between items-center mx-8 text-2xl">
        <ul>
            <a href="/"><img class="w-52 h-auto" src="{% static 'images/nav-logo.png' %}" alt=""></a>
        </ul>

        <ul class="flex gap-5">
            <li class="underline-on-hover">
                <a href="/" class="block text-center p-4 text-gray-100">test</a>
            </li>
            <li class="underline-on-hover">
                <a href="/" class="block text-center p-4 text-gray-100">test</a>
            </li>
            <li class="underline-on-hover">
                <a href="/" class="block text-center p-4 text-gray-100">test</a>
            </li>
        </ul>

        <ul class="flex gap-3">
            {% if user.is_authenticated %}
            <li class="underline-on-hover">
                <a href="{% url 'logout' %}" class="block text-center p-4 text-gray-100">
                    logout
                </a>
            </li>

            {% else %}
            <li class="underline-on-hover">
                <a href="{% url 'register' %}" class="block text-center p-4 text-gray-100">
                    register
                </a>
            </li>
            <li class="underline-on-hover">
                <a href="{% url 'login' %}" class="block text-center p-4 text-gray-100">
                    login
                </a>
            </li>
            {% endif %}
        </ul>
    </nav>
</div>