{% extends 'base.html' %}
{% load static %}


{% block title %}Profile{% endblock %}

{% block navigation %}
{% endblock %}

{% block content %}

<style>
    body {
        background-image: url("{% static 'images/background/edit-profile-background.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>


<div class="flex justify-center flex-col p-10 border-2 border-spacing-5 backdrop-blur-sm rounded w-2/5 mx-auto mt-5">
    <h1 class="text-3xl text-slate-200 text-center mb-7">Change Password</h1>

    <form action="" method="POST" class="text-center text-2xl">

        {% csrf_token %}
        <div class="flex flex-col gap-3">
            {{ form.old_password }}
            {{ form.new_password1 }}
            {{ form.new_password2 }}
        </div>

        <div class="flex justify-center gap-10 pt-5 mb-3">
            <a href="{% url 'settings' user %}" class="btn font-bold rounded-md px-3 py-1 bg-orange-600 text-white">Back</a>
            <button class="btn font-bold rounded-md px-3 py-1 bg-blue-800 text-white">Change</button>
        </div>

        <div>
            {% if form.errors %}
            <div>
                {% for field in form %}
                {% for error in field.errors %}
                <p class="text-red-500 text-2xl mb-3 text-center">{{ error }}</p>
                {% endfor %}
                {% endfor %}
            </div>
            {% endif %}
        </div>
    </form>

</div>


{% endblock %}