{% extends 'base.html' %}
{% load static %}


{% block title %}Profile{% endblock %}

{% block navigation %}
{% endblock %}

{% block content %}


<style>
    body {
        background-image: url("{% static 'images/background/profile-background.jpg' %}");
        background-size: cover;
        background-repeat: no-repeat;
    }
</style>

<div class="relative">
    <a href="{% url 'settings' user %}" class="text-3xl text-white absolute top-0 right-5 p-2 bg-"><i class="fa-solid fa-gear"></i></a>
</div>

<section class="pt-20">
    <h1 class="text-3xl text-white flex justify-center">Hello {{ user }}</h1>

    {% if best_results_python or best_results_js %}
    <h3 class="text-2xl text-white flex justify-center mb-5">Best Scores:</h3>
    {% else %}
    <h3 class="text-2xl text-orange-500 flex justify-center mb-5">No quiz results</h3>
    {% endif %}

    <div class="flex justify-evenly">
        {% if best_results_python %}
        <section class="flex flex-col p-5">
            <h1 class="text-3xl text-white flex justify-center underline underline-offset-4 mb-5">
                <span class="px-1"><i class="fa-brands fa-python"></i></span>Python
            </h1>
            {% for x in best_results_python %}
            <h3 class="text-2xl text-white flex justify-left">{{ x.correct_answers }}/15 done for
                {{ x.finish_time }} secs</h3>
            {% endfor %}
        </section>
        {% endif %}

        {% if best_results_js %}
        <section class="flex flex-col p-5">
            <h1 class="text-3xl text-white flex justify-center underline underline-offset-4 mb-5">
                <span class="px-1"><i class="fa-brands fa-js"></i></span>JavaScript
            </h1>
            {% for x in best_results_js %}
            <h3 class="text-2xl text-white flex justify-left">{{ x.correct_answers }}/15 done for
                {{ x.finish_time }} secs</h3>
            {% endfor %}
        </section>
        {% endif %}

    </div>


</section>

{% endblock %}